<div class="background">
    <form >
    <div class="padding"></div>
    <div>
    
    <div class="main_title">
    <p>Plans</p>
    </div>
    <div class="plans">Choose your plan:</div>
    <div class="scroll-box">
    <select fromcontrolname="Choose your plan" ngModel>
    <option value="Third Party Laibilty">Third Party Laibilty</option>
    <option value="Comprehensive">Comprehensive</option>
    </select>
    </div>
    
    </div>
    <div>
    <div class="plans">Choose year:</div>
    <div class="scroll-box">
    <select fromcontrolname="Choose year" ngModel placeHolder="Select">
    <option value="One year">One year</option>
    <option value="Two year">Two years</option>
    <option value="Three year">Three years</option>
    </select>
    </div>
    
    <div>
    <button type="submit" class="payment-button">Make payment</button>
    </div>
    
    
    
    </div>
    </form>
    </div>
