<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="header"  >
        <h1 id="hrt">GENERAL INSURANCE</h1>

 </div>

 <div class="dashboard">
   


     <div class="flex-container">
        <div class="item"> <button >LOGIN</button></div>
        <div  class="item"> <button >CONTACT </button></div>
        <div  class="item"> <button  >ABOUT US</button></div>
        <div  class="item">  <button  >HELP</button></div>
        <div  class="item"> <button>FAQ</button></div>
      </div>
 </div>
  <div class="koko">
    <div class="size">
         <h2>Why Insurance?</h2>
    </div>


    <div class="grid">
        <div class="grid-item">BUY INSURANCE</div>
        <div class="grid-item">CLAIM INSURANCE</div>
        <div class="grid-item">RENEW INSURANCE</div>
        <div class="grid-item">ESTIMATE INSURANCE</div>
       </div>
       <div class="flex">
            

            <div class="item1">
                Insurance plans will help you pay for medical emergencies, medical care required in the future.

            </div>
            <div class="item1">
                The financial loss to the family due to the unfortunate death of the sole earner can be covered by insurance plans.
                
            </div>
            <div class="item1">
                Insurance plans will help in protecting the future of your child in terms of his/her education
                
            </div>
            <div class="item1">
                Insurance helps protect your home in the event of any unforeseen calamity or damage.
                
            </div>

       </div> 
       
       <div class="img">
           <img src="https://s1.rdbuz.com/web/images/home/IOS_Android_device.png" alt="">
       </div>
       
   </div>
      <div class="writing">
          Easily available in both andriod and apple devices. Click on the image to download it!
      </div>
  


       <div class="sixth">
        <p> THE NUMBERS ARE GROWING!</p>
         <div class="flex4">
             <div class="item5">
                 CUSTOMERS <br>
<span>  36 M </span> <br>
General Insurance is trusted by over 36 million happy customers globally
             </div>
             <div class="item5">
                 BRANCHES <br>
<span> 3500 </span> <br>
network of over 3500 branches worldwide
             </div>
             <div class="item5">
                 Insurance bought <br>
<span>  220+ M</span> <br>
Over 220 million Insurance Sold
             </div>
         </div>
     </div>
     

        <script src="home.component.ts" async defer></script>
    

</body>

</html>