Welcome to PMS
<br>
<button (click)="get()">Get Data</button>
<br>
<br>
<table *ngIf="products && products.length>0">
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Rating</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>
        <div (click)="fetchProduct(p.productId)">
          {{p.productName}}
        </div>
      </td>
      <td>{{p.price}}</td>
      <td>{{p.starRating}}</td>
    </tr>
  </tbody>
</table>

<span *ngIf="products===undefined && errorMessage">
  No records found
</span>

<div *ngIf="errorMessage && errorMessage!==''">
  {{errorMessage}}
</div>
<br>
<br>
<div *ngIf="selectedProduct">
  Selected {{selectedProduct.productName}}
  <br>
  <div>
    Price:{{selectedProduct.price}} &nbsp;&nbsp;
    Description:{{selectedProduct.description}}
  </div>
</div>